In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel('../../data/2/Crosstab.xlsx')
data

    Observation  x  y
0             1  A  1
1             2  B  1
2             3  B  1
3             4  C  2
4             5  B  1
5             6  C  2
6             7  B  1
7             8  C  2
8             9  A  1
9            10  B  1
10           11  A  1
11           12  B  1
12           13  C  2
13           14  C  2
14           15  C  2
15           16  B  2
16           17  C  1
17           18  B  1
18           19  C  1
19           20  B  1
20           21  C  2
21           22  B  1
22           23  C  2
23           24  A  1
24           25  B  1
25           26  C  2
26           27  C  2
27           28  A  1
28           29  B  1
29           30  B  2

In [27]:
orignCrosstab = pd.crosstab(data['x'], data['y'])

In [28]:
percentCrosstab = orignCrosstab.copy()

In [29]:
for index in percentCrosstab.index:
    percentCrosstab.loc[index] = percentCrosstab.loc[index] * 100 / percentCrosstab.loc[index].sum()
percentCrosstab

y           1          2
x
A  100.000000   0.000000
B   84.615385  15.384615
C   16.666667  83.333333

In [39]:
percentCrosstab2 = orignCrosstab.copy()

In [41]:
for column in percentCrosstab2.columns:
    percentCrosstab2[column] = percentCrosstab2[column] * 100 / percentCrosstab2[column].sum()
percentCrosstab2

y          1          2
x
A  27.777778   0.000000
B  61.111111  16.666667
C  11.111111  83.333333