In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel("../../data/2/Crosstab2.xlsx")

In [4]:
data.describe()

       Observation          x          y
count     20.00000  20.000000  20.000000
mean      10.50000  46.250000  56.550000
std        5.91608  21.240168  24.407667
min        1.00000  13.000000  21.000000
25%        5.75000  29.500000  34.000000
50%       10.50000  45.000000  59.000000
75%       15.25000  62.500000  73.250000
max       20.00000  84.000000  99.000000

In [11]:
data['x-cut'] =  pd.cut(data['x'], bins=np.arange(10, 100, 20), right=False)

In [12]:
data['y-cut'] = pd.cut(data['y'], bins=np.arange(20, 110, 20), right=False)

In [13]:
orignCrosstab = pd.crosstab(data['x-cut'], data['y-cut'])
orignCrosstab

y-cut     [20, 40)  [40, 60)  [60, 80)  [80, 100)
x-cut
[10, 30)         0         0         1          4
[30, 50)         2         0         4          0
[50, 70)         1         3         1          0
[70, 90)         4         0         0          0