In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
data = pd.Series([10, 20, 12, 17, 16])
data.head()

0    10
1    20
2    12
3    17
4    16
dtype: int64

In [3]:
data.median()

16.0

In [4]:
data = pd.Series([10, 20, 21, 17 , 16 , 12])

In [5]:
data.mean(), data.median()

(16.0, 16.5)

In [47]:
data = pd.DataFrame({'x':[3.2, 2.0, 2.5, 5.0], 'weight':[6, 3, 2, 8]})

In [48]:
data

   weight    x
0       6  3.2
1       3  2.0
2       2  2.5
3       8  5.0

In [49]:
(data['x'] * data['weight']).sum() / data['weight'].sum()

3.694736842105263

In [10]:
data['x'].mean(), data['weight'].mean()

(3.175, 4.75)

In [50]:
data = pd.DataFrame({'period':[1, 2, 3, 4, 5], "return":[-6.0, -8.0, -4.0, 2.0, 5.4]})
data

   period  return
0       1    -6.0
1       2    -8.0
2       3    -4.0
3       4     2.0
4       5     5.4

In [55]:
tmp = (data['return'] + 100) / 100
tmp.prod()

0.89254001663999993

In [58]:
np.power(tmp.prod(), 0.2) - 1

-0.022480253156668129

In [28]:
data = pd.Series([27, 25, 20, 15, 30 , 34, 28, 25])

[15, 20, 25, 25, 27, 28, 30, 34]

In [41]:
percentileArr = [0.2, 0.25, 0.65, 0.75]
for percentile in percentileArr:
    index = int(np.round(percentile * data.size))
   
    print data.tolist()[index]

25
25
28
30

In [42]:
data = pd.Series([53, 55, 70, 58, 64, 57, 53, 69, 57, 68, 53])

In [43]:
data.mean(), data.median()

(59.72727272727273, 57.0)

In [44]:
data.value_counts()

53    3
57    2
58    1
69    1
55    1
70    1
68    1
64    1
dtype: int64