In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel("../../data/3/NCAA.xlsx")
data.head()

,Winning Team,Points,Unnamed: 2,Losing Team,Points.1,Unnamed: 5,Winning Margin
0,Arizona,90,NaN,Oregon,66,NaN,24
1,Duke,85,NaN,Georgetown,66,NaN,19
2,Florida State,75,NaN,Wake Forrest,70,NaN,5
3,Kansas,78,NaN,Colorado,57,NaN,21
4,Kentucky,71,NaN,Notre Dame,63,NaN,8

In [4]:
data.drop(['Unnamed: 2', 'Unnamed: 5'], axis=1, inplace=True)

In [5]:
data

     Winning Team  Points     Losing Team  Points.1  Winning Margin
0         Arizona      90         Oregon         66              24
1           Duke       85      Georgetown        66              19
2   Florida State      75    Wake Forrest        70               5
3         Kansas       78        Colorado        57              21
4        Kentucky      71      Notre Dame        63               8
5      Louisville      65       Tennessee        62               3
6  Oklahoma State      72           Texas        66               6
7          Purdue      76  Michigan State        70               6
8        Stanford      77    Southern Cal        67              10
9       Wisconsin      76        Illinois        56              20

In [7]:
winningMean = data['Points'].mean()
winningMean

76.5

In [8]:
winningStd = data['Points'].std()
winningStd

7.011894655987543

In [13]:
(84 - winningMean) / winningStd

1.0696110492184387

In [14]:
np.power(1.0696110492184387, 2)

1.1440677966101693

In [15]:
1 / 1.1440677966101693

0.8740740740740742

In [16]:
marginMean = data['Winning Margin'].mean()

In [22]:
marginStd = data['Winning Margin'].std()
marginStd

7.885288693369303

In [21]:
((data['Winning Margin'] - marginMean) / marginStd)

0    1.496458
1    0.862365
2   -0.913093
3    1.116002
4   -0.532637
5   -1.166730
6   -0.786274
7   -0.786274
8   -0.279001
9    0.989184
Name: Winning Margin, dtype: float64