In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel("../../data/3/NFLTickets.xlsx")
data.head()

                Team  Ticket Price
0    Atlanta Falcons            72
1      Buffalo Bills            51
2  Carolina Panthers            63
3      Chicago Bears            88
4   Cleveland Browns            55

In [4]:
priceMean = data['Ticket Price'].mean()
priceMean

75.0

In [5]:
lastPriceMean = 72.2
print (lastPriceMean - priceMean) / lastPriceMean

-0.0387811634349

In [6]:
data['Ticket Price'].median()

65.0

In [7]:
price = data['Ticket Price']

In [11]:
price.quantile(0.75, 'midpoint')

80.0

In [12]:
price.quantile(0.25, 'midpoint')

61.5

In [14]:
priceStd = price.std()
priceStd

27.038434183157186

In [18]:
val = int(data.loc[data['Team'] == 'Dallas Cowboys']['Ticket Price'])

In [19]:
(val - priceMean) / priceStd

3.143673166286689