In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel("../../data/3/CommuteTime.xlsx")
data.head()

          City  Time (minutes)
0  Albuquerque            23.3
1      Atlanta            28.3
2       Austin            24.6
3    Baltimore            32.1
4       Boston            31.7

In [3]:
data.describe()

       Time (minutes)
count       48.000000
mean        26.906250
std          4.615165
min         20.100000
25%         23.750000
50%         25.950000
75%         28.500000
max         43.800000

In [4]:
data['Time (minutes)'].mean()

26.90624999999999

In [5]:
data['Time (minutes)'].median()

25.950000000000003

In [6]:
data['Time (minutes)'].value_counts()

23.4    3
24.8    3
25.8    2
20.1    2
31.7    2
28.5    2
23.6    2
28.3    2
26.8    2
25.0    1
32.1    1
22.0    1
27.3    1
24.4    1
24.0    1
26.1    1
23.0    1
23.8    1
24.9    1
24.6    1
20.2    1
27.1    1
32.6    1
38.1    1
25.3    1
21.4    1
43.8    1
32.2    1
23.3    1
26.4    1
34.2    1
26.2    1
32.8    1
28.1    1
30.7    1
29.3    1
28.4    1
Name: Time (minutes), dtype: int64

In [9]:
arr = data['Time (minutes)'].sort_values().tolist()

In [11]:
print arr[int(np.round(len(arr) * 0.75))]

28.5