In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel("../../data/3/3Points.xlsx")
data.head()

   3 Point Shots  Shots Made
0             23           4
1             20           6
2             17           5
3             18           8
4             13           4

In [3]:
data.describe()

       3 Point Shots  Shots Made
count      19.000000   19.000000
mean       18.421053    6.315789
std         5.419264    2.109572
min         8.000000    3.000000
25%        15.500000    5.000000
50%        19.000000    6.000000
75%        22.500000    7.500000
max        28.000000   11.000000

In [5]:
for column in data.columns:
    print "%s: %0.2f" % (column, data[column].mean())

3 Point Shots: 18.42
Shots Made: 6.32

In [7]:
data['Shots Made'].sum() / float(data['3 Point Shots'].sum())

0.34285714285714286